/* Colors of JavaFX chart series */
.chart-series-line.series0 {
	-fx-stroke: black;
}
.chart-line-symbol.series0 {
	-fx-background-color: black, white;
}
.chart-series-line.series1 {
	-fx-stroke: darkcyan;
}
.chart-line-symbol.series1 {
	-fx-background-color: darkcyan, white;
}
.chart-series-line.series2 {
	-fx-stroke: crimson;
}
.chart-line-symbol.series2 {
	-fx-background-color: crimson, white;
}
.chart-series-line.series3 {
	-fx-stroke: coral;
}
.chart-line-symbol.series3 {
	-fx-background-color: coral, white;
}
.chart-series-line.series4 {
	-fx-stroke: brown;
}
.chart-line-symbol.series4 {
	-fx-background-color: brown, white;
}
.chart-series-line.series5 {
	-fx-stroke: mediumseagreen;
}
.chart-line-symbol.series5 {
	-fx-background-color: mediumseagreen, white;
}
.chart-series-line.series6 {
	-fx-stroke: mediumblue;
}
.chart-line-symbol.series6 {
	-fx-background-color: mediumblue, white;
}
.chart-series-line.series7 {
	-fx-stroke: darkorchid;
}
.chart-line-symbol.series7 {
	-fx-background-color: darkorchid, white;
}
.chart-series-line.series8 {
	-fx-stroke: magenta;
}
.chart-line-symbol.series8 {
	-fx-background-color: magenta, white;
}
.chart-series-line.series9 {
	-fx-stroke: dark-grey;
}
.chart-line-symbol.series9 {
	-fx-background-color: dark-grey, white;
}
.chart-series-line.series10 {
	-fx-stroke: gold;
}
.chart-line-symbol.series10 {
	-fx-background-color: gold, white;
}
.chart-series-line.series11 {
	-fx-stroke: light-green;
}
.chart-line-symbol.series11 {
	-fx-background-color: light-green, white;
}
.chart-series-line.series12 {
	-fx-stroke: olive;
}
.chart-line-symbol.series12 {
	-fx-background-color: olive, white;
}
