graph {
    fill-color: white;
}

node { 
	size: 40px;
	fill-color: rgb(100,110,200), rgba(50,50,0,100);
	text-mode: normal;
	text-alignment: under; text-color: white; text-style: bold; text-background-mode: rounded-box; text-background-color: #222C; text-padding: 1px; text-offset: 0px, 2px;
	}

node.Percept {
	size: 25px;
	fill-color: rgb(0,255,0), rgba(0,50,0,0);
}

node.Controller {
	size: 25px;
	fill-color: rgb(255,255,0), rgba(50,50,0,200);
}

node.NodexteController {
	size: 11px;
	fill-color: rgb(255,255,0), rgba(50,50,0,100);
	text-mode: normal;
	text-alignment: under; text-color: white; text-style: bold; text-background-mode: rounded-box; text-background-color: #222C; text-padding: 1px; text-offset: 0px, 2px;
}

node.Context {
	fill-color: rgb(0,255,255), rgba(0,55,55,0);
}

node.Overlap {
	fill-color: rgb(255,0,0), rgba(0,55,55,0);
}

node.Void {
	fill-color: rgb(255,255,0), rgba(0,55,55,0);
}

node.stableNodexte {
	fill-mode: gradient-radial;
	fill-color: rgb(0,120,230), rgba(0,120,230,0);
}

node.Nodexte {
	fill-mode: gradient-radial;
	fill-color: rgb(0,120,15), rgba(0,120,15,0);
}

node.NodexteBadImpact {
	fill-mode: gradient-radial;
	fill-color: rgba(255,0,0,100), rgba(255,0,0,0);
	visibility-mode: normal;

}

node.NodexteSelected {
	fill-mode: gradient-radial;
	fill-color: rgb(0,0,0), rgba(0,0,0,0);
}

node.Criterion {
	size: 25px;
	fill-color: rgb(255,0,0), rgba(55,0,0,0);
}


edge {
visibility-mode: normal;
	shape: cubic-curve;
    arrow-shape: arrow;
    stroke-color: darkgrey;
    size: 2px;
    fill-color: #CCF;
    arrow-size: 3px, 2px;
}

edge.validContext {
	visibility-mode: normal;

	fill-color: #CCF;
	}

node:clicked {
    fill-color: darkblue;
}